
//- степ-2 это ЛОКАЦИЯ
html(lang='en')
  head
    meta(charset='UTF-8')
    title Локация
  body
    // Шаблон создания локации
    .location-wrapper(ng-model='modelTest')
      // вопрос на ЛикБез, нужны ли: 1. указанный класс; 2. Зачем нужен ng-model; 3. Каким должно быть его наполнение? modelTest?
      // Данные Локации
      p
        | Название локации: 
        input(type='text', placeholder='Введите название локации')
      p
        | Техническое название локации: 
        input(type='text', placeholder='Техническое имя локации')
      div
        | Адрес фоновой картинки: 
        input(type='url', placeholder='img локации')
      div
        | Описание локации 
        textarea(name='Описание', id='', placeholder='Введите текст описания')
      hr
      // Влияние на параметры
      .impactFromParameter
        // нужен тут класс/айди?
        select(name='', id='')
        input(type='text', placeholder='изменяется на...')
      button Добавить параметр
      // Что нужно добавить в БАТТОН, чтобы он клонировал шаблон "Влияние на параметр"?
      // Действия  |  тут теже вопросы с кнопкой, что и во "Влияние на параметры"
      .actionName
        // Нужен ли тут класс/айди?
        input(type='text', placeholder='Имя действия')
        // Может его стоит реализовать через текстариа?
        select(name='', id='') Действие ведет в Локацию ...
      button Добавить действие
      hr
    button SAVE
